@import '~scss/variables';
@import '~scss/mixins';

.logo {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 40px;
  background-image: url('/assets/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img {
  width: 180px;
  height: 40px;
}

.login {
  position: relative;
  width: 344px;
  height: 420px;
  margin: 0 auto;
  padding: 20px;
  background-image: url('/assets/console/2_1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 4px;
  // box-shadow: $base-shadow;
  box-sizing: border-box;
  padding-top: 60px;
  filter: drop-shadow(10.5px 18.187px 125px rgba(0, 0, 0, 0.46));
  :global {
    .form-item-label {
      @include TypographySymbolText;
    }

    input.input {
      height: 36px;
    }
  }
}

.login_header {
  width: 200px;
  height: 45.71px;
  margin: 0 auto;
  background-image: url('/assets/console/img3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.divider {
  width: 100%;
  height: 0;
  margin-top: 12px;
  margin-bottom: 20px;
  opacity: 0.6;
  border-bottom: 1px solid;
  border-image-source: radial-gradient(circle at 50% 0, #abb4be, #ffffff 100%);
  border-image-slice: 1;
}

.footer {
  margin-top: 24px;
  button[type='submit'] {
    width: 100%;
  }
}

.oauth {
  padding: 6px;
  border-radius: 2px;
  background-color: #0d6c2c12;
  color: #36435c;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #d8dee5;
  }

  &:active {
    background-color: #d1d7df;
  }

  & + .oauth {
    margin-top: 8px;
  }

  & + form {
    padding-top: 20px;
  }
}
// 2022/07/19 页面整体布局变为左右结构
.boxLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: nowrap;
  height: 100%;
  margin-top: -30px;
}
.relativePos {
  position: relative;
  flex: 1;
}
.pageRight {
  flex: 1;
  padding-left: 10%;
  z-index: 1;
}

// .pwdIcon {
//   background-image: url(/assets/console/5.png);
// }
.userIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 14px;
  z-index: 2;
}
.themeInput {
  border: unset;
  border-radius: unset !important;
  border-bottom: 1px solid #ccc;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 44px !important;
  border: unset !important;
  border-bottom: 1px solid #ccc !important;
  margin-bottom: 15px;
}
.fromstyle {
  width: 230px;
  margin: 0 auto;
  padding-top: 35px;
}
.themeInput:focus {
  border-color: $theme-light-color !important;
  box-shadow: 0 4px 8px 0 #69c0ff33 !important;
}
.loginBtn {
  height: 47px;
  border-radius: 42px;
  background-image: linear-gradient(90deg, #0025ac 0%, #1b8bd1 100%);
  font-size: 16px;
  line-height: 1.4 !important;
  margin-top: 15px;
}
.loginPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/console/1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
/* chrome */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 100px white inset;
  box-shadow: 0 0 0px 100px white inset;
}
/* firefox */
input {
  filter: none !important;
}
input.input:not([readonly]):not([disabled]):focus {
  background-color: rgba(255, 255, 255, 0) !important;
}
